:root {
  --color-hot: #EE6C4D;
  --color-hot-light: #E2BFB6;
  --color-sky: #E0FBFC;
  --color-sky-light: #E6F4F4;
  --color-lake: #98C1D9;
  --color-lake-light: #CBE0EC;
  --color-ocean: #3D5A80;
  --color-ocean-light: #6B8CB8;
  --color-black: #293241;
  --color-black-light: #5C7093;
  --color-green: #205F1E;
  --color-green-light: #2FAA2B;
}
